body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: auto;
}

button {
    margin-bottom: 10px;
    padding: 10px;
}

#terminal {
    width: 100%;
    height: 400px;
    padding: 10px;
    /* 枠と文字の距離 */
    box-sizing: border-box;
    /* paddingを含めたサイズにする */
    border: 1px solid #ccc;
    background-color: #000;
}