body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: auto;
}

#terminal {
    background-color: #000;
    color: #fff;
    padding: 10px;
    /* ターミナルのサイズを設定 */
    height: 400px; 
    border: 1px solid #ccc;
}

button {
    margin-bottom: 10px;
    padding: 10px;
}
